<div class="message mt-2 clearfix border-bottom" id="message_<%= "#{message.id}" %>">
  <p>
    <%= simple_format(message.content) %>
  </p>
  <p class="text-right">
    投稿者 : <%= message.user.username %>
    投稿日 : <%= message.created_at.to_s(:ja) %>
  </p>
</div>