<div class="tag_checkbox ml-4">
  <label class="form-check-label" for="room_tag_ids_<%= tag.id %>">
    <input class="form-check-input" type="checkbox" value="<%= tag.id %>" name="room[tag_ids][]" id="room_tag_ids_<%= tag.id %>" kl_vkbd_parsed="true">
    <%= tag.name %>
  </label>          
</div>