<div class="checkbox tag_checkbox m-2 float-left">
  <label class="form-check-label" for="room_tag_ids_<%= tag.id %>">
    <input class="form-check-input" type="checkbox" value="<%= tag.id %>" name="room[tag_ids][]" id="room_tag_ids_<%= tag.id %>" kl_vkbd_parsed="true">
    <span> <%= tag.name %> </span>
  </label>          
</div>