/* テーマカラーを読み込む */
@import "themecolors.scss";

.bulletin-board-item{
  width: 90%;
}

.bulletin-board-description{
  width: 95%;
}

.info-messages-container {
  margin-top: 2%;
}

.message {
  width: 90%;
  margin: auto;
}

.checkbox label {
  position: relative;
  display: block;
}
.checkbox label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.checkbox label input[type="checkbox"] + span {
  display: block;
  background-color: map-get($theme-colors, light);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.checkbox label input[type="checkbox"]:checked + span {
  background-color: map-get($theme-colors, success);
  color: white;
}