// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bulletin-board-item{
  width: 90%;
}

.bulletin-board-description{
  width: 95%;
}

.info-messages-container {
  margin-top: 2%;
}

.message {
  width: 90%;
  margin: auto;
}
