/* テーマカラーを読み込む */
@import "themecolors.scss";

/* サイト全体のバックグラウンドカラーを設定 */
html,
body {
    width: 100%;
    height: 100%;
}

.bg-container {
  background-color: map-get($theme-colors, white);
  min-height: 100%;
}

.main-cantainer{
  padding-top: 70px;
  padding-bottom: 170px;
}

@import "bootstrap";